page-item-create-event-sports-rec-detail {
  ion-content {
    .scroll-content {
        background-color: map-get($colors, light);
    }
  } 

  .item {
    background-color: map-get($colors, danger);
    text-align: left;
  }

  .rowStyle{
    background-color: white;
    padding-left: 10px;
    border-radius: 15px;
    margin-top: 10px;
    border: solid map-get($colors, danger ) 1px;

    ion-icon{
        margin-top: 13px;
        margin-right: 10px;
    }        
  }

//   .rowStyle {
//     background-color: white;
//     border: solid map-get($colors, danger ) 1px;
//     border-radius: 30px; //this makes the edges rounded.
//     margin-top: 15px; // this moves the text-box lower from the top edge of screen/page.

//     ion-input {
//         margin-top: 5px;
//     }
// }  

  
}