page-item-create-event-sports-rec-detail {
  ion-content {
    .scroll-content {
        background-color: map-get($colors, backcolor);
    }
  } 

  .item {
    background-color: map-get($colors, backcolor);
  }


  h6 {
    color: white;
    font-weight: bold;
  }
}