page-item-create-event-sports-rec-detail {
  ion-content {
    .scroll-content {
        background-color: map-get($colors, danger);
    }
  } 

  .item {
    background-color: map-get($colors, danger);
  }

  ion-label {
    color: white;
    font-weight: bold;
  }

  h6 {
    color: white;
    font-weight: bold;
  }
}
