page-list-master-groups-modal {
  ion-content {
    .scroll-content {
        background-color: map-get($colors, backcolor);
    }
  } 

  .item {
    background-color: map-get($colors, backcolor);
  }

  h6 {
    color: white;
    font-weight: bold;
  }
}
