page-item-create-event-sports-rec {
    ion-content {
        .scroll-content {
            background-color: map-get($colors, backcolor);
        }
      } 
    
      .item {
        background-color: map-get($colors, backcolor);
      }
    
      ion-label {
        color: white;
        font-weight: bold;
      }
}
