<ion-header>

  <ion-navbar color="headercolor">
    <ion-title>{{ 'APP_TITLE_TEXT' | translate }} | {{ 'ITEM_CREATE_GROUP_TITLE' | translate }}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="dark" showWhen="ios">
          {{ 'CANCEL_BUTTON' | translate }}
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
        <span color="dark" showWhen="ios">
          {{ 'DONE_BUTTON' | translate }}
        </span>
        <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form
     [formGroup]="form"
     (ngSubmit)="manage(form.value)">
      <ion-list margin-bottom>
        <ion-item
           margin-bottom
           no-lines>
           <ion-label floating>Group name</ion-label>

           <!-- Assign our first FormControl of name to the input field -->
               <ion-input
                  type="text"
                  maxlength="40"
                  formControlName="name"
                  clearInput="true"></ion-input>
               <span>Please enter a group name of no more than 40 characters</span>
            </ion-item>

            <!-- Assign the technologies FormArray to the form
                     where we want to track/generate new input track fields -->
             <div
                formArrayName="technologies"
                margin-bottom>

                <!-- Assign a FormGroupName property binding to track
                     and manage each separate generated input field.
                     Also iterate through the technologies FormArray to
                     correctly track/render new input fields against
                     existing fields -->
                <section
                   [formGroupName]="i"
                   *ngFor="let tech of form.controls.technologies.controls; let i = index">
                   <ion-item-group>
                      <ion-item-divider color="light">Friend #{{ i + 1 }}</ion-item-divider>
                      <ion-item>
                         <ion-label floating>Friends Name</ion-label>
                         <ion-input
                            type="text"
                            maxlength="50"
                            formControlName="name"
                            clearInput="true"></ion-input>
                      </ion-item>

                      <span float-right
                      *ngIf="form.controls.technologies.length > 1">
                        <ion-chip (click)="removeInputField(i)">
                          <ion-icon name="close-circle" color="danger"></ion-icon>
                          <ion-label>Remove Friend</ion-label>
                        </ion-chip>
                      </span>
                   </ion-item-group>
                </section>
             </div>

             <span float-left>
               <ion-chip (click)="addNewInputField()">
                 <ion-icon name="add-circle" color="secondary"></ion-icon>
                 <ion-label>Add Friend</ion-label>
               </ion-chip>
             </span>

         </ion-list>
       </form>
</ion-content>
