page-list-master {
  ion-content {
    .scroll-content {
        background-color: map-get($colors, danger);
    }

    ion-note {
      color: white;
      font-weight: bold;    
    }

    ion-label {
      color: white;
      font-weight: bold;
    }

    p {
      color: white;
      font-weight: bold;    
    }    

  } 

  .item {
    background-color: map-get($colors, danger);
  }
}
