page-list-master {
  ion-content {
    .scroll-content {
        background-color: map-get($colors, backcolor);
    }
  } 

  .bottom-bar {
    background-color: map-get($colors, semi-light );

    .border-right {
        border-right: 1px solid map-get($colors, light );
    }
  }
}
