page-item-create-event-movie {
  ion-content {
    .scroll-content {
        background-color: map-get($colors, backcolor);
    }
  } 

  .item {
    background-color: map-get($colors, backcolor);
    text-align: left;
  }

  .rowStyle{
    background-color: white;
    padding-left: 10px;
    border-radius: 30px;
    margin-top: 10px;
    border: solid map-get($colors, danger ) 1px;

    ion-icon{
        margin-top: 13px;
        margin-right: 10px;
    }        
  }

}
