page-item-create-event-movie {
  ion-content {
    .scroll-content {
        background-color: map-get($colors, favorite);
    }
  } 

  .item {
    background-color: map-get($colors, favorite);
  }

  ion-item {
    color: white;
    font-weight: bold;
  }
}
